export BASE_WEB_APP_URL=http://localhost:3000/
export MONGO_URI=mongodb://localhost:27017/connectu
export PORT=5000
export CLIENT_ID="887442747685-4fbceoq9tnstjvdu4h4g0784lemhhs0q.apps.googleusercontent.com"
export CLIENT_SECRET="udTTJ-sraWMCiHSB8hx2kZEn"
export ENV="dev"